textarea {
	outline: none;
	border: 1px solid #dddddd;
	width: 94%;
	height: 200px;
}

#textinput {
	position: relative;
	float: left;
	margin-top: 50px;
	margin-left: 157px;
	width: 650px; 
	height: 526px;
	background-color: #ffffff;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
}

input {
	width: 94%;
	height: 20px;
}
#textinput h1 {
	padding-left: 30px;
	color: #4aaaa5;
}
form {
	padding-left: 30px;

}

button {
	font-family: Georgia;
	font-size: 24px;
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
	margin-top: 10px;
	height: 45px;
	width: 20%;
}

button:hover {
	outline: 3px solid #777777;

}

