#content {
	position: relative;
	float: left;
	margin-top: 50px;
	margin-left: 157px;
	width: 650px; 
	height: 518px;
	background-color: #ffffff;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
}

#content h1 {
	color: #4aaaa5;
	margin-left: 5%;
}

#gorilla {
	float: left;
	height: 150px;
	width: 200px;
	margin-top: 5px;
	border: 1px blue;
	margin-left: 5%;
	padding-right: 10px;
}

p {
	margin-left: 5%;
	margin-right: 5%;
	line-height: 150%;
	font-family: arial;
	color: #777777;
	text-align: left;

	
}